<div class="about-4-section-areas section-padding5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-4-aurhor-text-area author-about-text">
                    <span class="font-cm font-18 weight-500 color-7 d-inline-block margin-b border-1">About us</span>
                    <h1 class="font-cm font-42 weight-500 lineh-50 color-11 margin-b24">Enjoy flexible energy <br> service and changes <br> daily life.</h1>
                    <p class="font-cm font-16 weight-500 lineh-26 color-12 margin-b">At green power energy, we are committed to revolutionizing the energy landscape. With our expertise in energy consulting, we help businesses achieve sustainable and cost-effective energy solutions that drive both
                        environmental and financial benefits. Our team of experienced</p>
                    <span class="font-cm font-16 weight-500 lineh-26 color-12 d-inline-block margin-b40">consultants combines industry knowledge, cutting-edge technology, and innovative strategies to guide you towards a brighter and greener future.</span>
                    <div class="all-3-btn">
                        <a href="contact.html" class="font-cm font-16 lineh-24 weight-600 color d-inline-block">Contact Us<span><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="abput-4-images">
                    <img src="assets/img/section-img/about-3-img.png" alt="">
                    <div class="cards bg-color">
                        <div class="cards-14">
                            <h1 class="font-cm font-42 weight-500 lineh-50 color">76 </h1>
                            <span class="font-cm font-16 lineh-21 weight-500 color">Projects <br> completed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>