<div class="brand-section-area-1 section-padding12">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-text-area text-center">
                    <h1 class="font-cm font-45 weight-500 lineh-56 margin-b color-7">A trusted partner</h1>
                    <p class="font-cm font-16 weight-400 color-6 lineh-26">Certified installers. 25 year warranty. ironclad guarantee.</p>
                </div>
                <div class="brand-images-area owl-carousel text-center">
                    <div class="brand-img brand-1">
                        <img src="assets/img/others/brand-1.png" alt="">
                    </div>
                    <div class="brand-img brand-2">
                        <img src="assets/img/others/brand-2.png" alt="">
                    </div>
                    <div class="brand-img brand-3">
                        <img src="assets/img/others/brand-3.png" alt="">
                    </div>
                    <div class="brand-img brand-4">
                        <img src="assets/img/others/brand-4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>