<div class="counter-author-area section-padding4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="counter-author-per">
                    <div class="counter90">
                        <h1 class="font-cm font-56 lineh-56 weight-600 color "><span class="counter">95</span>+</h1>
                        <p class="font-cm font-16 lineh-26 weight-400 color">Project complete</p>
                    </div>
                    <div class="counter90">
                        <h1 class="font-cm font-56 lineh-56 weight-600 color "> <span class="counter">15</span>K+
                        </h1>
                        <p class="font-cm font-16 lineh-26 weight-400 color">Satisfied client </p>
                    </div>
                    <div class="counter90">
                        <h1 class="font-cm font-56 lineh-56 weight-600 color "><span class="counter">30</span>+</h1>
                        <p class="font-cm font-16 lineh-26 weight-400 color">Awards wining</p>
                    </div>
                    <div class="counter90">
                        <h1 class="font-cm font-56 lineh-56 weight-600 color "><span class="counter">66</span>+</h1>
                        <p class="font-cm font-16 lineh-26 weight-400 color">Team member</p>
                    </div>
                    <div class="counter90">
                        <h1 class="font-cm font-56 lineh-56 weight-600 color "><span class="counter">20</span>+</h1>
                        <p class="font-cm font-16 lineh-26 weight-400 color">Years experience</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>