<div class="about-section-area section-padding">
    <img src="/assets/img/others/npath.png" alt="" class="npath-img aniamtion-key-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6" data-aos="flip-right" data-aos-duration="1000">
                <div class="about-img-area">
                    <img src="/assets/img/section-img/solar-lab.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-others-text">
                    <span class="font-rubik font-16 weight-500 color-green about" data-aos="fade-left" data-aos-duration="600">Over EPA Duurzaam Vastgoed</span>
                    <h2 class="font-rubik font-40 weight-700 lineh-48 " data-aos="fade-left" data-aos-duration="800">Lorem ipsum dolor sit amet, <span class="after-before">lorem ipsum </span>lorem ipsum. </h2>
                    <p class="font-rubik font-20 lineh-30 weight-400 color-3" data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aspernatur commodi consequuntur dolore dolores earum eligendi error esse et eveniet minus, molestiae natus neque nisi nobis non nulla numquam omnis perspiciatis quisquam reprehenderit rerum sapiente sed sit soluta tempore tenetur ut veritatis.</p>
                    <div class="welget-btn about-btn" data-aos="fade-left" data-aos-duration="1200">
                        <a href="#" class="welcome-get font-16 weight-700 font-rubik color-white">Lees meer over ons </a> <span class="long-arrow color-white"><i class="fa-solid fa-arrow-right-long"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>