<div class="blog-section-area section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="800">
                <div class="blog-text">
                    <span class="font-rubik font-16 weight-500 d-block margin-b color">Blog</span>
                    <h2 class="font-rubik font-40 weight-700 color lineh-48">Check <span class="after-before-1">our recent</span> <br> articles</h2>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="blog-pera-text">
                    <p class="color font-rubik weight-400 font-20 lineh-30 margin-b24">When it comes to buying a new build home, the best time to install solar power is during the construction phase. </p>
                    <!-- <span class="font-rubik weight-500 color font-20">As a new homeowner, you already have so many expenses to consider. </span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="blog-others-area">
                    <div class="blog-imges">
                        <div class="blog-1">
                            <div class="homepage-blog-1">
                                <img src="assets/img/section-img/blog-1-img.png" alt="">
                            </div>
                        </div>
                        <div class="font-rubik font-16 weight-500 color d-block margin-b solar">
                            <ul>
                                <li><a href="#" class="color font-rubik font-16 weight-500">Solar</a></li>
                                <li><a href="#" class="color font-rubik font-16 weight-500">Solar  Insights,</a></li>
                                <li><a href="#" class="color font-rubik font-16 weight-500">12 January 2023</a></li>
                            </ul></div>
                        <a href="blogs-single.html"><h2 class="font-rubik font-24 weight-700 color margin-b24 lineh-30"> Filing solar power permits in 2020? consider the following important factors.</h2></a>
                        <div class="welget-btn blog-btn" data-aos="fade-up" data-aos-duration="1200">
                            <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Learn More</a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="blog-other-imges">
                    <div class="blog-1">
                        <div class="homepage-blog-1">
                            <img src="assets/img/section-img/blog-2-img.png" alt="">
                        </div>
                    </div>
                    <div class="font-rubik font-16 weight-500 color d-block margin-b solar">
                        <ul>
                            <li><a href="#" class="color font-rubik font-16 weight-500">Solar</a></li>
                            <li><a href="#" class="color font-rubik font-16 weight-500">Solar  Insights,</a></li>
                            <li><a href="#" class="color font-rubik font-16 weight-500">12 January 2023</a></li>
                        </ul></div>
                    <a href="blogs-single.html">  <h2 class="font-rubik font-24 weight-700 color margin-b24 lineh-30">How to add battery backup to an exciting grid tied solar system by your self.</h2></a>
                    <div class="welget-btn blog-btn" data-aos="fade-up" data-aos-duration="1400">
                        <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Learn More</a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>