<div class="pricing-paln-section-area section-padding1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-duration="800">
                <div class="pricing-paln-header text-center">
                    <span class="font-rubik font-16 weight-400 color-white margin-b d-inline-block">Prijzen</span>
                    <h2 class="font-40 weight-700 font-rubik color-white">Lorem ipsum dolor sit</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="pricing-card">
                    <div class="pricing-plan-cards">
                        <p class="font-20 font-rubik weight-400 lineh-24 margin-b24">Standard</p>
                        <h2 class="font-56 font-rubik weight-700 lineh-56 margin-b font-size-change">€120 <span class="font-rubik font-18 weight-700 ">/per maand</span></h2>
                        <p class="font-rubik weight-400 font-20 lineh-30 color-3 margin-b32">Lorem ipsum dolor sit amet, consectetur adipisicing elit at deserunt.</p>
                        <div class="plans-list">
                            <ul class="plans-card">
                                <li><span class="font-rubik font-16 lineh-16 weight-700"><i class="fa-solid fa-check"></i></span>Installation</li>
                                <li><span><i class="fa-solid fa-check"></i></span>Repair & Replacement</li>
                                <li><span><i class="fa-solid fa-check"></i></span> Monitoring Work</li>
                                <li><p class="color-3"><span><i class="fa-solid fa-check"></i></span>Panel Maintence</p></li>
                                <li><p class="color-3"><span><i class="fa-solid fa-check"></i></span>24/7 Skilled Support</p></li>
                            </ul>
                        </div>
                        <div class="welget-btn space blus-btn">
                            <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Plan aanvragen </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="pricing-card">
                    <div class="pricing-plan-cards">
                        <p class="font-20 font-rubik weight-500 lineh-24 margin-b24">Popular</p>
                        <h2 class="font-56 font-rubik weight-700 lineh-56 margin-b font-size-change">€220 <span class="font-rubik font-18 weight-700 ">/per maand</span></h2>
                        <p class="font-rubik weight-400 font-20 lineh-30 color-3 margin-b32">Lorem ipsum dolor sit amet, consectetur adipisicing elit at deserunt.</p>
                        <div class="plans-list">
                            <ul class="plans-card">
                                <li><span><i class="fa-solid fa-check"></i></span>Installation</li>
                                <li><span><i class="fa-solid fa-check"></i></span>Repair & Replacement</li>
                                <li><span><i class="fa-solid fa-check"></i></span> Monitoring Work</li>
                                <li><span><i class="fa-solid fa-check"></i></span>Panel Maintence</li>
                                <li><p class="color-3"><span><i class="fa-solid fa-check"></i></span>24/7 Skilled Support</p></li>
                            </ul>
                        </div>
                        <div class="welget-btn space blus-btn">
                            <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Plan aanvragen </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="pricing-card">
                    <div class="pricing-plan-cards">
                        <p class="font-20 font-rubik weight-500 lineh-24 margin-b24">Premium</p>
                        <h2 class="font-56 font-rubik weight-700 lineh-56 margin-b font-size-change">€320 <span class="font-rubik font-18 weight-700 ">/per maand</span></h2>
                        <p class="font-rubik weight-400 font-20 lineh-30 color-3 margin-b32">Lorem ipsum dolor sit amet, consectetur adipisicing elit at deserunt.</p>
                        <div class="plans-list">
                            <ul class="plans-card">
                                <li><span><i class="fa-solid fa-check"></i></span>Installation</li>
                                <li><span><i class="fa-solid fa-check"></i></span>Repair & Replacement</li>
                                <li><span><i class="fa-solid fa-check"></i></span> Monitoring Work</li>
                                <li><span><i class="fa-solid fa-check"></i></span>Panel Maintence</li>
                                <li><span><i class="fa-solid fa-check"></i></span>24/7 Skilled Support</li>
                            </ul>
                        </div>
                        <div class="welget-btn space blus-btn">
                            <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Plan aanvragen </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>