<div class="service-section-area section-padding1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-down" data-aos-duration="800">
                <div class="service-header text-center">
                    <span class="service-text font-rubik font-16 weight-500 color margin-b d-inline-block">Onze Service</span>
                    <h2 class="font-rubik font-40 lineh-48 weight-700 color">Services wij aanbieden</h2>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="800">
                <div class="preview-home-page-img hadding">
                    <div class="preview-home-page-img-all">
                        <div class="home-page-1">
                            <img src="assets/img/section-img/service-1.png" alt="">
                        </div>
                        <div class="preview-button text-center">
                            <div class="preview-btn header-btn-1 button btn-after home1-button ">
                                <a href="service-single.html" class="service-single"><h2 class="color font-rubik font-24 weight-700 lineh-24 margin-b24">Lorem ipsum dolor sit amet</h2></a>
                                <p class="font-rubik font-16 font-rubik weight-400 color margin-b32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos impedit modi recusandae. Harum, non <br> lorem ipsum dolor sit amet, consectetur adipisicing</p>
                                <div class="welget-btn about-btn">
                                    <a href="service-singel.html" class="welcome-get font-16 weight-700 font-rubik color-1">Read More </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1000">
                <div class="preview-home-page-img hadding">
                    <div class="preview-home-page-img-all">
                        <div class="home-page-1">
                            <img src="assets/img/section-img/service-5.png" alt="">
                        </div>
                        <div class="preview-button text-center">
                            <div class="preview-btn header-btn-1 button btn-after home1-button ">

                                <a href="#" class="service-single"> <h2 class="color font-rubik font-24 weight-700 lineh-24 margin-b24">Lorem ipsum dolor sit amet</h2></a>
                                <p class="font-rubik font-16 font-rubik weight-400 color margin-b32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos impedit modi recusandae. Harum, non <br> lorem ipsum dolor sit amet, consectetur adipisicing</p>
                                <div class="welget-btn about-btn">
                                    <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Read More </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1200">
                <div class="preview-home-page-img hadding">
                    <div class="preview-home-page-img-all">
                        <div class="home-page-1">
                            <img src="assets/img/section-img/service-4.png" alt="">
                        </div>
                        <div class="preview-button text-center">
                            <div class="preview-btn header-btn-1 button btn-after home1-button ">
                                <a href="#" class="service-single"><h2 class="color font-rubik font-24 weight-700 lineh-24 margin-b24">Lorem ipsum dolor sit amet</h2></a>
                                <p class="font-rubik font-16 font-rubik weight-400 color margin-b32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos impedit modi recusandae. Harum, non <br> lorem ipsum dolor sit amet, consectetur adipisicing</p>
                                <div class="welget-btn about-btn">
                                    <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Read More </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-duration="1400">
                <div class="preview-home-page-img hadding">
                    <div class="preview-home-page-img-all">
                        <div class="home-page-1">
                            <img src="assets/img/section-img/service-3.png" alt="">
                        </div>
                        <div class="preview-button text-center">
                            <div class="preview-btn header-btn-1 button btn-after home1-button ">
                                <a href="#" class="service-single" ><h2 class="color font-rubik font-24 weight-700 lineh-24 margin-b24">Lorem ipsum dolor sit amet</h2></a>
                                <p class="font-rubik font-16 font-rubik weight-400 color margin-b32">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos impedit modi recusandae. Harum, non <br> lorem ipsum dolor sit amet, consectetur adipisicing</p>
                                <div class="welget-btn about-btn">
                                    <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Read More </a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>