<div class="testimonial-section-area section-padding">
    <img src="/assets/img/others/cpath2.png" alt="" class="cptah2 aniamtion-key-1">
    <img src="/assets/img/others/cpath1.png" alt="" class="cpath4 aniamtion-key-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6" data-aos="flip-left" data-aos-duration="800">
                <div class="testimonial-img">
                    <img src="/assets/img/section-img/testimonial-img.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-text-area owl-carousel">
                    <div class="testimonial-text">
                        <span class="font-16 font-rubik weight-500 lineh-16 color-1 margin-b d-block" data-aos="fade-left" data-aos-duration="600">Testimonials</span>
                        <h2 class="font-rubik font-40 weight-700 lineh-48 margin-b24" data-aos="fade-left" data-aos-duration="800">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                        <div class="testimonial-list" data-aos="fade-left" data-aos-duration="1000">
                            <ul>
                                <li><span class="color-4"><i class="fa-solid fa-star"></i></span></li>
                                <li><span class="color-4"><i class="fa-solid fa-star"></i></span></li>
                                <li><span class="color-4"><i class="fa-solid fa-star"></i></span></li>
                                <li><span class="color-4"><i class="fa-solid fa-star"></i></span></li>
                                <li><span class="color-4"><i class="fa-solid fa-star"></i></span></li>
                                <li><p class="font-18 weight-500 font-rubik">(Bedrijf Labels)</p></li>
                            </ul>
                        </div>
                        <p class="font-rubik font-24 lineh-36 weight-400 color-1 margin-b32" data-aos="fade-left" data-aos-duration="1000">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, amet animi aperiam commodi consequuntur distinctio excepturi explicabo fugiat laboriosam nostrum odit possimus quas reprehenderit tempora veniam, veritatis voluptas, voluptates.”</p>
                        <div class="welget-btn space blus-btn testimonial-btn" data-aos="fade-left" data-aos-duration="1200">
                            <a href="#" class="welcome-get font-16 weight-700 font-rubik color-1">Testimonials</a> <span class="long-arrow"><i class="fa-solid fa-arrow-right-long"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>