<header>
    <div class="header-top-social-area  d-lg-block d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-top-text-area">
                        <div class="haeder-top-text">
                            <p class="font-rubik font-16 weight-600 color">{{ companyInfo.companyAddress }}</p>
                        </div>
                        <div class="haeder-top-social">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/img/others/white-line.png" alt="" class="white-line-img">
    </div>
    <div class="header haeder-home1">
        <div class="header-area header header-sticky" id="header">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <div class="header-elements">
                            <div class="site-logo">
                                <a href="#"><img src="{% for img in companyInfo.companyLogo.all() %}{{ img.url }}{% endfor %}" alt=""></a>
                            </div>
                            <div class="main-menu-ex dropdown">
                                <ul>
                                    <li><a href="#" class="font-rubik font-18 weight-500">Home</a></li>
                                    <li><a href="#">Over</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Shop</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                            <div class="cta-btn d-lg-block d-none">
                                <div class="header-btn">
                                    <a href="#" class="font-rubik font-16 weight-700">Demo aanvragen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header mobile-header-4 d-block d-lg-none">
    <div class="container-fluid">
        <div class="col-12">
            <div class="mobile-header-elements">
                <div class="mobile-logo">
                    <!-- <a href="index.html"><img src="assets/img/logo/epower-logo-1.png" alt=""></a> -->
                </div>
                <div class="mobile-nav-icon black-nav border-black mobile-menu-color">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-sidebar">
    <div class="menu-close">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="mobile-nav">

        <ul class="mobile-nav-list">
            <li><a href="#" class="font-roboto font-18 weight-400">Home </a>
                <ul class="sub-menu">
                    <li class="font-roboto font-18 weight-400"><a href="index-2.html">Home One</a></li>
                    <li class="font-roboto font-18 weight-400"><a href="index-3.html">Home Two</a></li>
                    <li class="font-roboto font-18 weight-400"><a href="index-4.html">Home Three</a></li>
                    <li class="font-roboto font-18 weight-400"><a href="index-5.html">Home Four</a></li>
                    <li><a href="index-6.html" class="font-roboto font-18 weight-400 color-11">Home Five</a></li>
                </ul>
            </li>

            <li class="font-roboto font-18 weight-400"><a href="about.html">Pages</a>
                <ul class="sub-menu">
                    <li><a href="about.html" class="font-roboto font-18 weight-400 color-11">About</a></li>
                    <li><a href="about.html" class="font-roboto font-18 weight-400 color-11">About 2</a></li>
                    <li><a href="about-1.html" class="font-roboto font-18 weight-400 color-11">Case Studies</a></li>
                    <li><a href="case-single.html" class="font-roboto font-18 weight-400 color-11">Case Single</a></li>
                    <li><a href="contact.html" class="font-roboto font-18 weight-400 color-11">Contact</a></li>
                    <li><a href="contact1.html" class="font-roboto font-18 weight-400 color-11">Contact 2</a></li>
                    <li><a href="account.html" class="font-roboto font-18 weight-400 color-11">My Account</a></li>
                    <li><a href="account1.html" class="font-roboto font-18 weight-400 color-11">Forget</a></li>
                </ul>
            </li>
            <li class="font-roboto font-18 weight-400"><a href="#">Service</a>
                <ul class="sub-menu">
                    <li><a href="service.html" class="font-roboto font-18 weight-400 color-11">Service</a></li>
                    <li><a href="service-single.html" class="font-roboto font-18 weight-400 color-11">Service Single</a></li>
                </ul></li>
            <li class="font-roboto font-18 weight-400"><a href="#">Industries</a>
                <ul class="sub-menu">
                    <li><a href="indutrius.html" class="font-roboto font-18 weight-400 color-11">Industries</a></li>
                    <li><a href="industrius-single.html" class="font-roboto font-18 weight-400 color-11">Industries Single</a></li>

                </ul></li>
            <li class="font-roboto font-18 weight-400"><a href="#">Blog</a>
                <ul class="sub-menu">
                    <li><a href="blog.html" class="font-roboto font-18 weight-400 color-11">Blog Grid 1</a></li>
                    <li><a href="blog-1.html" class="font-roboto font-18 weight-400 color-11">Blog Grid 2</a></li>
                    <li><a href="blog-2.html" class="font-roboto font-18 weight-400 color-11">Blog Grid 3</a></li>
                    <li><a href="blogs-single.html" class="font-roboto font-18 weight-400 color-11"> Blog Single</a></li>
                </ul></li>
            <li class="font-roboto font-18 weight-400"><a href="#">Shops</a>
                <ul class="sub-menu">
                    <li><a href="shop1.html" class="font-roboto font-18 weight-400 color-11">Shop</a></li>
                    <li><a href="shop-single.html" class="font-roboto font-18 weight-400 color-11">Shop Single</a></li>
                    <li><a href="cart.html" class="font-roboto font-18 weight-400 color-11">Cart</a></li>
                    <li><a href="checkout.html" class="font-roboto font-18 weight-400 color-11">Checkout</a></li>
                </ul></li>
            <li class="font-roboto font-18 weight-400"><a href="contact.html">Contact</a>
                <ul>
                    <li><a href="contact.html" class="font-roboto font-18 weight-400 color-11">Contact </a></li>
                    <li><a href="contact1.html" class="font-roboto font-18 weight-400 color-11">Contact 2</a></li>
                </ul></li>
        </ul>
    </div>
</div>