<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`device-width`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--=====CSS=======-->
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/swiper.bundle.css">
    <link rel="stylesheet" href="/assets/css/plugins/fontawesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="stylesheet" href="/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/modal-video.min.css">
    <link href="https://unpkg.com/aos%402.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/plugins/mobile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&amp;family=Lexend+Deca:wght@400;500;600;700;800&amp;family=Manrope:wght@400;600;700;800&amp;family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&amp;family=Rubik:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/plugins/aos.css">
    <link rel="stylesheet" href="/assets/css/typography.css">
    <link rel="stylesheet" href="/assets/css/master.css">
    <link rel="stylesheet" href="/assets/css/plugins/responsive.css">

    <!--=====JQUERY=======-->
    <script src="/assets/js/plugins/jquery-3-6-0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
</head>
<body>

<div id="preloader">
    <div id="loader"></div>
</div>

<div class="paginacontainer">

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">

            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>

</div>

{%- block content -%}

{%- endblock -%}
{% include 'global/footer' %}

<!--=====JS=======-->
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/plugins/swiper.bundle.js"></script>
<script src="/assets/js/plugins/owl.carousel.min.js"></script>
<script src="/assets/js/plugins/fontawesome.js"></script>
<script src="/assets/js/plugins/counter.js"></script>
<script src="/assets/js/plugins/jquery-modal-video.min.js"></script>
<script src="https://unpkg.com/aos%402.3.1/dist/aos.js"></script>
<script src="/assets/js/plugins/jquery.nice-select.js"></script>
<script src="https://cdn.jsdelivr.net/npm/%40popperjs/core%402.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="/assets/js/plugins/mobilemenu.js"></script>
<!-- <script src="assets/js/plugins/stellarnav.js"></script> -->
<script src="assets/js/main.js"></script>
</body>
</html>